{% extends 'base.html' %}
{% load static %}

{% block title %}
تغییر رمز ورود
{% endblock title %}

{% block container %}
<div class="form-box">
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            <div class="help" style="text-align: right;">
                <p>برای تعیین رمز ورود به نکات زیر دقت فرمائید:</p>
                <ul>
                    <li>رمز ورود باید شامل حروف کوچک و بزرگ انگلیسی همراه با عدد باشد</li>
                    <li>رمز ورود نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد</li>
                    <li>رمز ورود باید حداقل از 8 حرف تشکیل شده باشد </li>
                    <li>رمز شما نمی‌تواند از عبارات معروف باشد</li>
                </ul>
            </div>

            <div class="input-box">
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="input-container">
                    {% if form.field.0.errors %}
                    {% for error in form.field.0.errors %}
                    {{error}}
                    {% endfor %}
                    {% endif %}
                    <input type="password" name="old_password" placeholder="رمز ورود جدید" required
                        autocomplete="current-password" autofocus id="id_old_password">
                </div>
            </div>


            <div class="input-box">
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="input-container">
                    {% if form.field.1.errors %}
                    {% for error in form.field.1.errors %}
                    {{error}}
                    {% endfor %}
                    {% endif %}
                    <input type="password" name="new_password1" placeholder="رمز ورود جدید" required
                        id="id_new_password1" autocomplete="new-password">
                </div>
            </div>

            <div class="input-box">
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="input-container">
                    {% if form.field.2.errors %}
                    {% for error in form.field.2.errors %}
                    {{error}}
                    {% endfor %}
                    {% endif %}
                    <input type="password" name="new_password2" placeholder="تکرار رمز ورود جدید" required
                        id="id_new_password2" autocomplete="new-password">
                </div>
            </div>
            <br>
            <div class="button-box">
                <button type="submit">تغییر رمز ورود</button>
            </div>
        </form>

    </div>
    <div class="panel-footer">
        <a href="{% url 'accounts_dashboard' %}" class="primary-link">بازگشت به داشبورد</a>
    </div>
</div>
{% endblock container %}